COMPOSE_PROJECT_NAME=optscale

PUBLIC_IP=localhost
PUBLIC_PORT=80
RELEASE=local-compose
COMPANY_NAME=Hystax
PRODUCT_NAME=OptScale
OPTSCALE_KEY=local-compose-encryption-key
CLUSTER_SECRET=local-compose-cluster-secret
AGENT_SECRET=local-compose-agent-secret
ENCRYPTION_SALT=local-compose-salt
ENCRYPTION_SALT_AUTH=local-compose-auth-salt
DISABLE_EMAIL_VERIFICATION=True
FORCE_AWS_EDP_STRIP=False
SKIP_CONFIG_UPDATE=False
DROP_TASKS_DB=False
FAKE_CAD_ENABLED=0
EVENTS_QUEUE=events_queue
TOKEN_EXPIRATION=168
INVITE_EXPIRATION_DAYS=30
DEMO_MULTIPLIER=2
KATARA_SCHEDULER_TIMEOUT=3600
BUMI_SCHEDULER_TIMEOUT=300
BUMI_WORKER_MAX_RETRIES=5
BUMI_WORKER_WAIT_TIMEOUT=7200
BUMI_WORKER_TASK_TIMEOUT=3600
BUMI_WORKER_RUN_PERIOD=10800
IMPORT_REPORTS_NOT_PROCESSED_THRESHOLD_SECS=10800
IMPORT_REPORTS_MESSAGE_EXPIRATION_SECS=10800
RESOURCES_DISCOVERY_CACHE_TIME=600
LOGSTASH_PORT=12201
OTEL_ENABLED=false
OTEL_EXPORTER=otlp

ETCD_PORT=2379

MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=localdev
MARIADB_APP_USER=optscale
MARIADB_APP_PASSWORD=localdev
MARIADB_BOOTSTRAP_DB=defaultdb

MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=localdev
MONGO_CACHE_SIZE_GB=1

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=optscale
RABBITMQ_PASSWORD=localdev
RABBITMQ_ERLANG_COOKIE=localcomposecookie

REDIS_PORT=6379

CLICKHOUSE_TCP_PORT=9000
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=localdev

INFLUXDB_PORT=8086
INFLUXDB_DB=metrics
INFLUXDB_USER=
INFLUXDB_PASSWORD=

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=optscale-minio
MINIO_ROOT_PASSWORD=localdevminio

AUTH_PORT=8905
RESTAPI_PORT=8999
HERALD_PORT=8906
KATARA_PORT=8935
KEEPER_PORT=8973
METROCULUS_PORT=8969
SLACKER_PORT=80
JIRA_BUS_PORT=8977
NGUI_PORT=4000
NGINX_HTTP_PORT=80

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
MICROSOFT_OAUTH_CLIENT_ID=
SLACK_SIGNING_SECRET=localdev
SLACK_CLIENT_ID=localdev
SLACK_CLIENT_SECRET=localdev
SMTP_SERVER=
SMTP_EMAIL=
SMTP_LOGIN=
SMTP_PORT=
SMTP_PASSWORD=
SMTP_PROTOCOL=SSL
STRIPE_ENABLED=False
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

VITE_GOOGLE_MAP_API_KEY=
VITE_GANALYTICS_ID=
VITE_HOTJAR_ID=
VITE_ON_INITIALIZE_ORGANIZATION_SETUP_MODE=BY_INVITE
VITE_FINOPS_IN_PRACTICE_PORTAL_OVERVIEW=disabled
VITE_BILLING_INTEGRATION=disabled
VITE_APP_THEME=default

