[Unit]
Description=BuildKit
After=multi-user.target
Documentation=https://github.com/moby/buildkit

[Service]
Type=simple
ExecStart={{ ansible_env.HOME }}/bin/buildkitd

[Install]
WantedBy=multi-user.target